<!DOCTYPE html>
<html>
<head>
  <title>MeetMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'home', root_path %>

<%= link_to 'people', users_path %>

<%= yield %>

<p>2014 Meet Me Inc. All rights reserved.</p>
</body>
</html>
